<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Quixlab - Bootstrap Admin Dashboard Template by Themefisher.com</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <!-- Custom Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ace98fed36.js" crossorigin="anonymous"></script>
</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="index.html">
                    <b class="logo-abbr"><img src="images/logo.png" alt=""> </b>
                    <span class="logo-compact"><img src="./images/logo-compact.png" alt=""></span>
                    <span class="brand-title">
                        <img src="images/logo-text.png" alt="">
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->

        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->
        {{>adminheader}}
        <!--**********************************
            Sidebar start
        ***********************************-->

        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active"><a href="javascript:void(0)"
                                style="color: rgb(135, 25, 224);">Category</a></li>
                    </ol>
                </div>
            </div>
            <!-- row -->

            <div class="container-fluid">
                <div class="col-lg-12">
                    <div class="card ">
                        <div class="card-body ">
                            <h4 class="card-title mb-5">Category List</h4>
                            <div class="table-responsive">
                                <a style="float: right;" class="btn btn-primary mb-5" href="/admin/addcategory">Add
                                    Category</a>
                                <table class="table table-bordered verticle-middle">
                                    <thead>
                                        <tr>
                                            <th scope="col" style="text-align: center;">Category</th>
                                            <th scope="col" style="text-align: center;">Discount</th>
                                            <th scope="col" style="text-align: center;">Action</th>
                                        </tr>
                                    </thead>
                                    {{#each data}}
                                    <tbody>
                                        <tr>
                                            <td id="title">{{this.category}}</td>
                                             <td id="title">{{this.discount}}</td>

                                            <td id="title">
                                                <div class="btn-group">
                                                    <a href="/admin/delete/{{this._id}}"><i
                                                            class=" fa-solid fa-trash-can mt-2"
                                                            style="color: coral;"></i></a>
                                                    <div class="ml-2">
                                                        <a href="/admin/editcategory?id={{this._id}}"> <i
                                                                class="fa-solid fa-file-pen mt-2 ml-5"
                                                                style="color: red;"></i></a>

                                                    </div>

                                                </div>
                                            </td>
                                        </tr>

                                    </tbody>
                                    {{/each}}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- #/ container -->
            </div>
            <!--**********************************
            Content body end
        ***********************************-->


            <!--**********************************
            Footer start
        ***********************************-->
            <div class="footer">
                <div class="copyright">
                    <p>Copyright &copy; Designed & Developed by <a
                            href="https://themeforest.net/user/quixlab">Quixlab</a> 2018</p>
                </div>
            </div>
            <!--**********************************
            Footer end
        ***********************************-->
        </div>
        <!--**********************************
        Main wrapper end
    ***********************************-->

        <!--**********************************
        Scripts
    ***********************************-->
        <script src="plugins/common/common.min.js"></script>
        <script src="js/custom.min.js"></script>
        <script src="js/settings.js"></script>
        <script src="js/gleek.js"></script>
        <script src="js/styleSwitcher.js"></script>
        <script src="js/active.js"></script>
        <style>
            #title {
                text-align: center;
            }
        </style>
</body>

</html>