   <nav class="nav nav-pills nav-justified">
                <a class="nav-item nav-link border border-primary" href="/userprofile">Profile</a>
                <a class="nav-item nav-link border border-primary" href="/wallet">Wallet</a>
   </nav>