<div class="site-navbar  py-2">
  <div class="search-wrap">
    <div class="container">
      <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
      <form action="#" method="post">
        <input type="text" class="form-control" oninput="search()" id="k" placeholder="Search... ">
      </form>
    </div>
  </div>
  <div class="container">
    <div class="d-flex align-items-center justify-content-between">
      <div class="logo">
        <div class="site-logo">
          <a href="/" class="js-logo-clone">ShopMax</a>
        </div>
      </div>
      <div class="main-nav d-none d-lg-block">
        <nav class="site-navigation " role="navigation">
          <ul class="site-menu js-clone-nav d-none d-lg-block">
            <li class="has-children ">
              <a href="/">Home</a>
            </li>

            <li onclick="colour()" class=""><a id="shop" href="/shop">Shop</a></li>
            <li class="cat" data-filter="Men"><a style="cursor: pointer;">Men</a>
            </li>
            <li class="cat" data-filter="Women"><a style="cursor: pointer;">Women</a>
            </li>
            <li class="cat" data-filter="Shoes"><a style="cursor: pointer;">Shoes</a>
            </li>
            <li style="padding-left:10px;">
              <div class="dropdown show">
                <button class="btn btn-dark dropdown-toggle"
                  style=" color:white;background-color: black; border-style: none;" href="#" role="button"
                  id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{#if user}}
                  {{user}}
                  {{else}}
                  user
                  {{/if}}
                </button>
                <div class="dropdown-menu " aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" style="color: black; font-size: small;" href="/userprofile"><i
                      class="fa-solid fa-user"></i> My Profile</a>
                  <a class="dropdown-item" style="color: black;" href="/order"><i
                      class="fa-brands fa-first-order-alt"></i> Orders</a>
                  {{#if user}}
                  <a class="dropdown-item" style="color: black;" href="/logout"><i
                      class="fa-solid fa-arrow-right-from-bracket"></i>Logout</a>
                  {{else}}
                  <a class="dropdown-item" style="color: black;" href="/login"><i
                      class="fa-solid fa-right-to-bracket"></i>Login</a>
                  {{/if}}
                </div>
              </div>
            </li>
          </ul>
        </nav>
      </div>
      <div  class="icons">
        <a href="#" class="icons-btn d-inline-block js-search-open"><span class="icon-search"></span></a>
        <a href="/wishlist" class="icons-btn d-inline-block"><span class="icon-heart-o"></span></a>
        <a href="/cart" class="icons-btn d-inline-block bag">
          <span class="icon-shopping-bag"></span>
          <span id="cartnum" class="number"></span>
        </a>
        <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span
            class="icon-menu"></span></a>
      </div>
    </div>
  </div>
</div>