<!DOCTYPE html>
<html>
<head>
	<title>Animated Login Form</title>
	<link rel="stylesheet" type="text/css" href="user/stylesheet/login.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<img class="wave" src="/user/images/wave.png">
	<div class="container">
		<div class="img">
			<img src="/user/images/bg.svg">
		</div>
		<div class="login-content">
			<form onsubmit="return validate()" action="/password"  method="post">
				<img src="/user/images/avatar.svg">
				<h2 class="title">Signup</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		   		<input id="pass" type="text" oninput="passwordvalidate()" name="password" class="input" placeholder="Password">
						 <span id="error1" style="color: red;font-size: x-small;float: left;"></span>
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	
           		    	<input id="repass" type="text" oninput="validateRepass()" name="repassword" class="input" placeholder="Re-enter Password">
						 <span id="error2" style="color: red;font-size: x-small;float: left;"></span>
            	   </div>
            	</div>
            	<input type="submit" class="btn" value="Signup">
            </form>
        </div>
    </div>
    <script type="text/javascript" src="/user/js/password.js"></script>
</body>
</html>