body {
    background: rgb(160, 5, 216)
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: rgb(200, 49, 49);
    cursor: pointer;
    border: solid 1px #BA68C8
}
.nav-link:hover{
    background: #be0fd5;
    color: rgb(195, 30, 30);
    cursor: pointer;
    border: solid 1px #BA68C8
}